![GL new logo .svg]()

Proprietary content. Â© Great Learning. All Rights Reserved. Unauthorized use or distribution prohibited.

# Course 2 - Week 01 - Python Project 01 - Practice Project - <font color='blue'>Sample solution</font>

------------------------------------------------------------------------------------------------------------------------------

### Learning Objective:
- Variables and datatypes.
- Data Structures, Operators.
- Conditional statements & control flow

-------------------------------------------------------------------------------------------------------------------------------

### 1. Write the alphabets 'A', 'B', 'C' on new lines using a single print function.

In [1]:
print("A\nB\nC\n")

A
B
C

### 2. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.

In [2]:
# Declare a string variable and check its data type.
my_string = 'GLCA_Data_Analytics'
type(my_string)

str

In [3]:
# Declare a numeric variable and check its data type.

# i) Whole number
my_num1 = 600
print(type(my_num1))

# ii) Fraction 
my_num2 = 26.66
print(type(my_num2))

<class 'int'>
<class 'float'>

In [4]:
# Declare a numeric variable and check its data type.
my_bool = True
type(my_bool)

bool

### 3. Create a complex number and assign it the name 'comp_var' and check its datatype.

In [5]:
comp_var = 10+5j
type(comp_var)

complex

### 4. Convert a float variable f = 88.63 to integer.

In [6]:
f=88.63
int(f)

88

### 5. Create a numeric variable and convert it to a string.

In [7]:
var=300
str(var)

'300'

### 6. Create two strings and concatenate them using '+' operator.

In [8]:
my_string1= "great"
my_string2= "learning"
my_string1+my_string2

'greatlearning'

### 7. Create a string with the name 'Bengaluru' and 'Great Learning' as its element. Perform the following on it:
- Find its length.
- Extract it first two letters.

In [9]:
Bengaluru = 'Great Learning'
print(len(Bengaluru))
print(Bengaluru[0:2])

14
Gr

### 8. Given the string 'Today is a rainy day.'
- Write a code to get 'is' and 'day'.
- Obtain the last two letters.
- Write the statement backwards.

In [10]:
my_strng='Today is a rainy day'
print(my_strng[6:8], my_strng[17:])
print(my_strng[18:])
print(my_strng[::-1])

is day
ay
yad yniar a si yadoT

### 9. Write a program to perform following list operations on the list given below:

- a. Check the length of mix_list_1
- b. Check the membership of 'Data' in mix_list_1
- c. Concatenate the mix_list_1 and mix_list_2
- d. Repeat the mix_list_2 two times

**Lists to perform operations:**

mix_list_1 = ['Data', 'Analysis', 100, 'Python', True, 9098]

mix_list_2 = ['List operations', 101, 789]

In [11]:
# Create the lists
mix_list_1 = ['Data', 'Analysis', 100, 'Python', True, 9098]
mix_list_2 = ['List operations', 101, 789]

In [12]:
# a) Check the length of mix_list_1
len(mix_list_1)

6

In [13]:
# b) Check the membership of 'Data' in mix_list_1
'Data' in mix_list_1

True

In [14]:
# c) Concatenate the mix_list_1 and mix_list_2
print('concatenated list:',mix_list_1 + mix_list_2)

concatenated list: ['Data', 'Analysis', 100, 'Python', True, 9098, 'List operations', 101, 789]

In [15]:
# d) Repeat the mix_list_2 two times
mix_list_2*2

['List operations', 101, 789, 'List operations', 101, 789]

### 10. Write the program to multiply the two lists. (Hint: make use of zip function)

**Lists to perform multiplication:**

num_list_1 = [10, 20, 30, 40]

num_list_2 = [2, 2, 2, 2]

In [16]:
## Create the lists
num_list_1 = [10, 20, 30, 40]
num_list_2 = [2, 2, 2, 2]

## Multiplication of two list using zip function
output_list = []

for n, m in zip(num_list_1, num_list_2):
    output_list.append(n * m)
    
print(output_list)

[20, 40, 60, 80]

### 11. Write a program to perform following built-in list operations:

- a. Minimum element of the list
- b. Maximum element of the list
- c. Sort the elements (use sort() and sorted() function)
- d. Create a copy of a list
- e. Remove element '-79' from the list

**Use the below list**

num_list = [90, 83, -79, 10, 0, 12]

In [17]:
# Create the list
num_list = [90, 83, -79, 10, 0, 12]

In [18]:
# a) minimum element of the list
min(num_list)

-79

In [19]:
# b) maximum element of the list
max(num_list)

90

In [20]:
# c) Sort the elements (use sort() and sorted() function)

num_list.sort()
print(num_list)
print(sorted(num_list))

[-79, 0, 10, 12, 83, 90]
[-79, 0, 10, 12, 83, 90]

In [21]:
# d) Create a copy of a list
num_list_copy=num_list.copy()
num_list_copy

[-79, 0, 10, 12, 83, 90]

In [22]:
# e) Remove element '-79' from the list
num_list = [90, 83, -79, 10, 0, 12]
num_list.remove(-79)
num_list

[90, 83, 10, 0, 12]

### 12. Manipulating a list:

- a. Add a new element 'Boolean' at index location 0 in the given list
- b. Replace an element 'sets' with 'string' in the given list
- c. Add elements 'int' and 'complex' to the given list

#### Use the below list

datatypes_list = ['list', 'tuples', 'dictionary', 'sets']

In [23]:
# create the list
datatypes_list = ['list', 'tuples', 'dictionary', 'sets']

In [24]:
# a) Add a new element 'Boolean' in the given list
datatypes_list.insert(0,'Boolean')
datatypes_list

['Boolean', 'list', 'tuples', 'dictionary', 'sets']

In [25]:
# b) Replace an element 'sets' with 'string' in the given list
datatypes_list[4] = 'string'
datatypes_list

['Boolean', 'list', 'tuples', 'dictionary', 'string']

In [26]:
# c) Add elements 'int' and 'complex' to the given list
new_elements = ['int','complex']
datatypes_list.extend(new_elements)
datatypes_list

['Boolean', 'list', 'tuples', 'dictionary', 'string', 'int', 'complex']

### 13. Write a code to perform operations on tuple:

- a. Check the length of num_tuple
- b. Concatenate the num_tuple and mix_tuple
- c. Repeat the mix_tuple two times

**Tuples to perform operations:**

num_tuple = (23, 43, 56)

mix_tuple = (-90, 'string', 979)

In [27]:
# Create the tuples
num_tuple = (23, 43, 56)
mix_tuple = (-90, 'string', 979)

In [28]:
## a) Check the length of num_tuple
len(num_tuple)

3

In [29]:
## b) Concatenate the num_tuple and mix_tuple
print(num_tuple+mix_tuple)

(23, 43, 56, -90, 'string', 979)

In [30]:
## c) Repeat the mix_tuple two times
mix_tuple*2

(-90, 'string', 979, -90, 'string', 979)

### 14. Replace the elements in the given tuple:

- Replace 'sets' with 'strings'

**Use the tuple below:**

my_tuple = ('list', 'sets', 'dict', 'tuple')

In [31]:
# Create the tuple
my_tuple = ('list', 'sets', 'dict', 'tuple')
my_tuple

('list', 'sets', 'dict', 'tuple')

In [32]:
## a) Replace 'sets' with 'strings'
print("we cannot replace a tuple")

we cannot replace a tuple

### 15. Write the program to perform following manipulations:

- a. Add '789' to the given set
- b. Remove '10' from a given set
- c. Clear the set

**Use the below set for manipulation**

my_set = {10, 67, 45, 89, 90}

In [33]:
# Create the set
my_set = {10, 67, 45, 89, 90}

In [34]:
## a)  Add '789' to the given set
my_set.add(789)
print(my_set)

{67, 90, 789, 89, 10, 45}

In [35]:
## b) Remove '10' from a given set
my_set.remove(10)
my_set

{45, 67, 89, 90, 789}

In [36]:
## c) Clear the set
my_set.clear()
my_set

set()

### 16. Create two sets of words from the given sentences and perform the following operations:

- a. Find the count of unique words in each of the sentence
- b. Find the common words in both the sentences

**Use the sentences given below:**
    
sentence_1 = 'Let us perform some set operations' 

sentence_2 = 'set is one of the inbuilt datatype in python'

In [37]:
# Create the sets using the sentences

sentence_1 = 'Let us perform some set operations' 
sentence_2 = 'set is one of the inbuilt datatype in python'

a=set(sentence_1.split())
b=set(sentence_2.split())

print(a)
print(b)

{'Let', 'perform', 'us', 'set', 'some', 'operations'}
{'of', 'one', 'set', 'the', 'is', 'inbuilt', 'python', 'in', 'datatype'}

In [38]:
## a) Find the count of unique words in each of the sentence

print("the len of unique words in sen 1 is",len(a))
print("the len of unique words in sen 2 is", len(b))

the len of unique words in sen 1 is 6
the len of unique words in sen 2 is 9

In [39]:
## b) Find the common words in both the sentences
a.intersection(b)

{'set'}

### 17. Write a program to perform following set operations:

- a. Union
- b. Intersection
- c. Set of all the elements of set A that are not in set B
- d. Set of all the elements of set B that are not in set A

**Use the below set:**

A = {27, 19, 82, 76, 89, 34, 66, 89}

B = {12, 70, 66, 76, 22}

In [40]:
# Create the sets

A = {27, 19, 82, 76, 89, 34, 66, 89}
B = {12, 70, 66, 76, 22}

In [41]:
## a) Union
print(A.union(B))

{34, 66, 70, 76, 12, 82, 19, 22, 89, 27}

In [42]:
## b) Intersection
print(A.intersection(B))

{66, 76}

In [43]:
## c)  Set of all the elements of set A that are not in set B
A.difference(B)

{19, 27, 34, 82, 89}

In [44]:
## d) Set of all the elements of set B that are not in set A
B.difference(A)

{12, 22, 70}

### 18. Write a code to add a key to a dictionary

**Use the given dictionary and add a key (20:4)**

my_dict = {100:10, 200:20, 300:30}

In [45]:
# Create dictionary
my_dict = {100:10, 200:20, 300:30}

# Add a key
my_dict[20] = 4
print(my_dict)

{100: 10, 200: 20, 300: 30, 20: 4}

### 19. Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

mix_dictionary = {'Fruits':''Apple','Quanitity':12, 'Veggies':'Broccoli','Price':20 }

In [46]:
# Create a dictionary
mix_dictionary = {'Fruits':'Apple','Quanitity':12, 'Veggies':'Broccoli','Price':20 }

# Perform the operation
print(mix_dictionary.keys())
print(mix_dictionary.values())

dict_keys(['Fruits', 'Quanitity', 'Veggies', 'Price'])
dict_values(['Apple', 12, 'Broccoli', 20])

### 20. Write a program to get the value for 'Age' from the dictionar

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [47]:
# Create a dictionary
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

# Get the value of 'age'
emp_record['Age']

27

### 21. Write a program to create a dictionary using given keys and values. (Hint: make use of zip function)

**Use the keys and values to create a dictionary**

keys = ['Fruits', 'Quanitity', 'Veggies', 'Price']

values = ['Apple', 12, 'Broccoli', 20]

In [48]:
# Create a list of keys and values
keys = ['Fruits', 'Quanitity', 'Veggies', 'Price']
values = ['Apple', 12, 'Broccoli', 20]

# Perform the operation to create a dictionary using lists
dict(zip(keys,values))

{'Fruits': 'Apple', 'Quanitity': 12, 'Veggies': 'Broccoli', 'Price': 20}

### 22. Set the city of an customer as 'Bangalore' in the given customer record

**Use the dictionary**

cust_record = {'Cust_ID': 'C001', 'Phno': 9880790675, 'Age': 22, 'Profession': 'Data analyst'}

In [49]:
# Create a Dictionary
cust_record = {'Cust_ID': 'C001', 'Phno': 9880790675, 'Age': 22, 'Profession': 'Data analyst'}

# Perform the operation
cust_record['city']='Bangalore'

In [50]:
# View the results
print(cust_record)

{'Cust_ID': 'C001', 'Phno': 9880790675, 'Age': 22, 'Profession': 'Data analyst', 'city': 'Bangalore'}

### 23. Write a program to check whether a given number is multiple of 7 (use if statement)

In [51]:
num=int(input("enter your number"))
if num%7==0:
      print("its a multiple of 7")

enter your number14
its a multiple of 7

### 24. Write a code to print the maximum of two numbers (use if-else). Take input from the user.

In [52]:
num1=int(input("enter the first num"))
num2=int(input("enter the second num"))
if num1>num2:
    print("num1 is greater")
else:
    print("num2 is greater")

enter the first num10
enter the second num20
num2 is greater

### 25. Write a program to check whether a number is positive, negative or zero (use if-elif). Take input from the user

In [53]:
num1=int(input("enter a number"))
if num1==0:
    print('its a zero')
elif num1<0:
    print("its negative number")
else:
    print('its positive number')

enter a number0
its a zero

### 26. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop.

In [54]:
a=0
b=1
fibo=[a,b]
i=1
while i<11:
    c=a+b
    a=b
    b=c
    i+=1
    fibo.append(b)
print("The fibonnaci series is:",fibo)

The fibonnaci series is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### 27. Write a code to find factorial of a number (take the input from user).

In [55]:
num=int(input("enter a number: "))
fact=1
if num <0:
    print('sorry,factorial does not exist for neagative numbers')
elif num==0:
    print('the factorial of 0 is 1')
else:
    for i in range(1,num+1):
        fact=fact*i
print(fact)

enter a number: 6
720

### 28. Write a program to check whether a number is prime or not (take the input from user)

In [56]:
number = int(input("Enter any number: "))
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")
else:
    print(number, "is not a prime number")

Enter any number: 88
88 is not a prime number

### 29. Use list comprehension to obtain the square of first 10 natural numbers.

In [57]:
my_list= [x**2 for x in range(1,11)]
print(my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 30. Use list comprehension to find the used vowels in a given sentence.

Use the sentence below:

sentence = 'Data Analytics at Great Learning'

In [58]:
s = "Data Analytics at Great Learning"
vowels = [x for x in s if x in ['a','A','e','E','i','I','o','O','u','U']]
print(set(vowels))

{'A', 'e', 'i', 'a'}

### 31. Use list comprehension to print numbers divisible by 2 and 3 in between 1 and 100.

In [59]:
divisible_by_2_and_3 = [y for y in range(100) if y%2==0 if y%3==0]
print(divisible_by_2_and_3)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

### 32. Use list comprehension to extract numbers from a string

**Use the string below"**

string = "hello 6645 World"

In [60]:
string = "hello 6645 World"
numbers = [x for x in string if x.isdigit()]
print(numbers)

['6', '6', '4', '5']

------
### Happy Learning :)
------